// in main.scss
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html, body {
  @apply font-inter;
  height: 100vh;
  scroll-behavior: smooth;
  overflow-x: clip;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

[v-cloak] {
  display: none;
}

.bg-indigo-600 {
  background-color: rgba(79, 70, 229, 1) !important;
}

.loader {
  width: 20px; /* the size */
  height: 20px;
  padding: 3px;       /* the border thickness */
  background: #000;

  aspect-ratio: 1;
  border-radius: 50%;
  --_m:
      conic-gradient(#0000,#000),
      linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
  mask: var(--_m);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  box-sizing: border-box;
  animation: load 1s linear infinite;
}

.loader-purps {
  width: 20px; /* the size */
  height: 20px;
  padding: 3px;       /* the border thickness */
  background: #4f46e5;

  aspect-ratio: 1;
  border-radius: 50%;
  --_m:
      conic-gradient(#0000,#4f46e5),
      linear-gradient(#4f46e5 0 0) content-box;
  -webkit-mask: var(--_m);
  mask: var(--_m);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  box-sizing: border-box;
  animation: load 1s linear infinite;
}

.loader-white {
  width: 20px; /* the size */
  height: 20px;
  padding: 3px;       /* the border thickness */
  background: #FFF;

  aspect-ratio: 1;
  border-radius: 50%;
  --_m:
      conic-gradient(#0000,#FFF),
      linear-gradient(#FFF 0 0) content-box;
  -webkit-mask: var(--_m);
  mask: var(--_m);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  box-sizing: border-box;
  animation: load 1s linear infinite;
}

.findModalContainer {
  .screen {
    background: transparent !important;
  }
  .modal__wrapper {
    top: 45px !important;
    bottom: auto !important;
    left: auto !important;
    right: 50px !important;
  }
  .modal__body {
    min-width: 34rem !important;
  }
}

@keyframes load {
  to{transform: rotate(1turn)}
}

.cstSelect-holder .multiselect__tags {
  width: 100%;
  -moz-column-gap: 0.375rem;
  column-gap: 0.375rem;
  border-radius: 0.375rem;
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / 1);
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5rem;
  --tw-text-opacity: 1;
  color: rgb(17 24 39 / 1);
  color: rgb(17 24 39 / var(--tw-text-opacity));
  --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
  box-shadow: inset 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color), inset 0 0 0 calc(1px + var(--tw-ring-offset-width)) rgb(209 213 219 / 1), 0 1px 2px 0 rgb(0 0 0 / 0.05);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  --tw-ring-offset-shadow: inset 0 0 0 0px #fff;
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
  --tw-ring-inset: inset;
  --tw-ring-opacity: 1;
  --tw-ring-color: rgb(209 213 219 / var(--tw-ring-opacity));
}

.cstSelect-holder .multiselect__tags input {
  box-shadow: none;
  border: none;
  padding: 0;
  font-size: 0.875rem;
}

.cstSelect-holder .multiselect__content-wrapper {
  
      --tw-bg-opacity: 1;
      background-color: rgb(255 255 255 / 1);
      background-color: #fff;
      box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
      border-radius: 0.375rem;
      transform-origin: top right;
      margin-top: 0.5rem;
      position: absolute;
      right: 0;
      left: 0;
      overflow-y: auto;
  
}

.cstSelect-holder .multiselect__content-wrapper ul .multiselect__option {
  --tw-text-opacity: 1;
  color: rgb(55 65 81 / 1);
  color: #374151;
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  width: 100% !important;
  padding-left: 1rem;
  padding-right: 1rem;
  cursor: pointer;
  position: relative;
  display: inline-block;
  border: none;
}

.cstSelect-holder .multiselect__content-wrapper ul .multiselect__option:hover {
  @apply text-gray-900 bg-gray-100
}

.cstSelect-holder .multiselect__content-wrapper .multiselect__content {
  display: block !important;
  width: 100%;
}

.pillsContainer {
  .pill_ {
    &:first-child {
      border-radius: 6px 0 0 6px;
      border-right: none;
    }
    &:last-child {
      border-radius: 0 6px 6px 0;
      border-left: none;
    }
  }
}

iframe#videoPlayer {
  border-radius: 10px;
  overflow: hidden;
}

//#__nuxt {
//  height: 100%;
//}

:root {
  .dp__theme_light {
    --dp-primary-color: rgb(79 70 229 / 1);
  }
  --coolwhite: hsl(228, 56%, 98%);
    
    /* hues */
    --hue-0: 0; /* red */
    --hue-30: 30; /* orange 	#ff8000 */
    --hue-60: 60; /* yellow */
    --hue-90: 90; /* lime 	#80ff00 */
    
    --hue-120: 120; /* green */
    --hue-150: 150; /* seafoam 	#00ff80 */
    --hue-180: 180; /* cyan */
    
    --hue-210: 210; /* soft blue */
    --hue-240: 240; /* royal blue 	#0000ff */
    --hue-270: 270; /* violet */
    
    --hue-300: 300; /* fuchsia */
    --hue-330: 330;
    --hue-360: 360; /* red */
    
    --hue-wildcard: var(--hue-180);
  /*   --current-color-hue: hsl(var(--hue-wildcard), 100%, 50%); */
    
    /* saturation */
    --saturation: 100%;
    
    /* lightness */
    --lightness: 50%;
}

#changeSpeakerButtononText.hidden {
  display: none;
}
#addClipButtononText.hidden {
  display: none;
}
.btn_save-gray {
  background: #7D828C !important;
  border-color: transparent !important;
  &:hover {
    background: #4B5563 !important;
  }
}
.btn_save-blue {
  background: #4F46E5 !important;
  border-color: transparent !important;
  &:hover {
    background: #4338CA !important;
  }
}

.block_modal__wrapper .modal__body[data-v-1cc3f7ee] {
  max-width: 542px !important;
}