REMOTION_AWS_ACCESS_KEY_ID=XXXXXXXX
REMOTION_AWS_SECRET_ACCESS_KEY=XXXXXXXX
API_KEY=XXXXXXXX
AWS_REGION=us-east-1
REMOTION_SERVE_URL=https://remotionlambda-useast1-pl9hex6qhc.s3.us-east-1.amazonaws.com/sites/podcast-video/index.html
REMOTION_LAMBDA_FUNCTION=remotion-render-3-3-87-mem2048mb-disk2048mb-120sec
REMOTION_COMPOSITION_NAME=PodcastVideo
REMOTION_BUCKET_NAME=remotionlambda-useast1-pl9hex6qhc
REMOTION_CODEC=h264