# Internal
-e git+https://2c362d5f4c48f0ee727f26f7c87a7dad014242fb:x-oauth-basic@github.com/fathom-app/fathom-core.git@main#egg=fathom-core
#-e ../fathom-core

# Web
gunicorn == 20.*
fastapi == 0.65.0
sse-starlette
asyncio
uvicorn[standard]
graphene>=2.1,<3
requests == 2.*
pyjwt
orjson
stripe
python-multipart==0.0.9

# Database
psycopg2

# Shell
ipython

# Monitoring
sentry-sdk

# Utilities
cryptography
hashids

# ML
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.3.1/en_core_web_sm-2.3.1.tar.gz#egg=en_core_web_sm
#https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.2.0/en_core_web_sm-3.2.0.tar.gz#egg=en_core_web_sm

# sudo apt-get install python3-uvloop
# sudo apt-get -y install postgresql-client
# sudo apt-get -y install libpq-dev
# sudo apt-get install libmysqlclient-dev

# hack for Milvus
protobuf==3.19.4
pypandoc
striprtf