# Internal
#-e ../../fathom-core
-e git+https://2c362d5f4c48f0ee727f26f7c87a7dad014242fb:x-oauth-basic@github.com/fathom-app/fathom-core.git@main#egg=fathom-core

# Web
gunicorn == 20.*
sanic == 20.*
requests == 2.* 

# General
timestring
ipdb

# ML
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.3.1/en_core_web_sm-2.3.1.tar.gz#egg=en_core_web_sm

# sudo apt-get install python3-uvloop
# sudo apt-get -y install postgresql-client
# sudo apt-get -y install libpq-dev
