# This env file for production is a starting place to connect to the proper Prefect GraphQL API and Tenant in production
PAPERTRAIL_ADDRESS=logs6.papertrailapp.com 54689

PREFECT__CLOUD__API=https://prefect-graphql.fathom.fm
PREFECT__CLOUD__API_KEY=API_KEY
PREFECT__CLOUD__TENANT_ID=0502167e-06b4-46f1-ac07-532ea8a5faf8