# Internal
-e git+https://2c362d5f4c48f0ee727f26f7c87a7dad014242fb:x-oauth-basic@github.com/fathom-labs/pi-core.git@main#egg=pi-core

# General
timestring
ipdb

# sudo apt-get install python3-uvloop
# sudo apt-get -y install postgresql-client
# sudo apt-get -y install libpq-dev
