html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#player {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  transform-origin: top left;
}

#video-square {
  width: 100%;
  height: 100%;
  transform-origin: top left;
}

#video-square::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.1;
}

#visuals-container {
  width: 100%;
  height: 100%;
  background-image: url('./square-gradient.png');
  background-size: cover;
  position: relative
}

#visuals {
  width: 100%;
  height: 100%;
  padding: 30px;
  display: flex;
  flex-direction: column;
}

#player.portrait #visuals {
  padding: 20px;
}

img.feature {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  height: 100%;
  z-index: 1;
}

#player.portrait img.feature {
  position: relative;
  top: 85px;
  width: 230px;
  height: auto;
}

#player.landscape img.feature {
  top: 45px;
  right: 30px;
  left: auto;
  width: 180px;
  height: auto;
}

#show-title {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.03em;
  color: white;
  margin-top: 0px;
  width: 340px;
  z-index: 2;
}

#player.portrait #show-title {
  font-size: 12px;
  width: 230px;
}

#player.landscape #show-title {
  font-size: 12px;
  max-width: 220px;
}

#episode-title {
  font-weight: 600;
  font-size: 20px;
  letter-spacing: -0.0em;
  color: white;
  position: absolute;
  top: 55px;
  width: 340px;
  z-index: 2;
}

#player.portrait #episode-title {
  font-size: 15px;
  top: 55px;
  width: 230px;
}

#player.landscape #episode-title {
  font-size: 18px;
  top: 50px;
  width: 220px;
}

#clip-title {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.03em;
  color: white;
  position: absolute;
  top: 250px;
  width: 340px;
  z-index: 2;
}

#clip-title span {
  top: 0px;
  align-self: flex-end;
}

#player.portrait #clip-title {
  top: 365px;
  width: 230px;
  font-size: 12px;
}

#player.landscape #clip-title {
  top: 170px;
  font-size: 11px;
  width: 220px;
}

.transcript-box {
  height: 50px;
  font-weight: 500;
  font-size: 26px;
  line-height: 26px;
  letter-spacing: -0.03em;
  color: white;
  position: absolute;
  top: 295px;
  width: 340px;
  z-index: 2;
}

.word {
  display: inline;
}

.highlight {
  opacity: 1.00 !important
}

#player.portrait .transcript-box {
  font-size: 22px;
  line-height: 24px;
  height: 45px;
  width: 230px;
}

#player.landscape .transcript-box {
  font-size: 22px;
  line-height: 24px;
  height: 45px;
  top: 200px;
  width: 220px;
}